<div class="categorias" style="display: none;">
    <ul class="list-categorias">
        <li class="item-categoria item-categoria-0">
            <a href="#categoria/lo-nuevo" class="link-categoria">
                Lo nuevo
            </a>
        </li>
        {% for categoria in categorias %}
            <li class="item-categoria item-categoria-{{categoria.id}}">
                <a href="#categoria/{{categoria.slug}}" class="link-categoria">
                    {{categoria.nombre}}
                </a>
            </li>
        {% endfor %}    
    </ul>
</div>