{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}
    <h2>Pago realizado</h2>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}